* {
    font-family: 'Inter', sans-serif;
}
div.welcome-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.mainheader {
    font-size: 4vw;
    text-align: center;
}
h2#secondheader {
    font-size: 3vw;
    text-align: center;
}
.avatar {
    display: flex;
    justify-content: center;
}
div.aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(144, 255, 220);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    color: black;
}
h3#imteditsnicetomeetyou {
    font-weight: bold;
    font-size: 3vw;
}
p.aboutmeparagraph {
    font-size: 2vw;
    padding-left: 15%;
    padding-right: 15%;
}
div.qualities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(141, 228, 255);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    font-size: 3vw;
}
h4.qualitiesheader {
    text-align: center;
    font-size:  3vw;
}
p.qualitiespara {
    text-align: center;
    font-size: 2vw;
    padding-left: 25%;
    padding-right: 25%;
}
img.icon {
    display: flex;
    justify-content: space-around;
}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vw;
}